body {
	margin: 1em;
}

.site-header {
	margin-bottom: 1em;
}

@media (min-width: 53.125em) {
	body {
		margin-left: 10%;
		margin-right: 10%;
	}
}

.post {
	margin-bottom: 2em;
}

.post .author,
.post .date {
	display: inline-block;
	margin-right: .5em;
}

.post .content {
	margin-top: 1em;
}
